.wrapper {
    margin-top: 50px;
}

.wrapper h3 {
    font-size: 30px;
    text-align: center;
}

.friend_block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}