.wrapper {
	width: 20%;
	padding: 20px;
	border-right: 1px solid #747474;
}

.nav  {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav a {
	text-decoration: initial;
}

body[data-theme='dark'] .nav a {
	margin: 5px;
	color: #F2DBC3;
}
body[data-theme='dark'] .nav a.active {
	color: #FFAC53;
}

body[data-theme='light'] .nav a {
	margin: 0 5px;
	color: #000;
}
body[data-theme='light'] .nav a.active {
	color: green;
}
