.wrapper {
	width: 30%;
}

body[data-theme='dark'] .nav a {
	margin: 0 5px;
	color: #fff;
}
body[data-theme='dark'] .nav a.active {
	color: green;
}

body[data-theme='light'] .nav a {
	margin: 0 5px;
	color: #000;
}
body[data-theme='light'] .nav a.active {
	color: green;
}
