.wrapper_App {
	max-width: 1170px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 15px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.main {
	width: 100%;
	display: flex;
	/* flex-wrap: wrap; */
	grid-area: main;
}
